*{
    margin: 0;
    padding: 0;
}
.main {
    background: url(music.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.main h1{
   
    background-repeat: no-repeat;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(35, 5, 104)
}

.play1 {
   margin-left: 8%;
   margin-top: -5%;
   width: 10pc;
   height: 10pc;
  
}
.play1 img{
    height: 10pc;
    width: 10pc;
    background: none;

}

